<h1> Student-Registration Form</h1>
{% if error_message %}
    {{ error_message }}
{% else %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Username : <input name="username" type="text"><br>
    Password : <input name="password" type="password"><br>
    Email : <input name="email" type="email"><br>
    Student_Name : <input name="student_name" type="text"><br>
    Date of Birth : <input name="dob" type="date"><br>
    Father's Name : <input name="father_name" type="text"><br>
    Mother's Name : <input name="mother_name" type="text"><br>
    Mobile-No : <input name="mobile_no" type="text"><br>
    Gender : <input name="gender" type="text"><br>
    Student-Image : <input name="student_image" type="file"><button type="submit">Upload</button><br>
    Department :
    <select name="department">
        <option value="Mechanical">Mechanical</option>
        <option value="Electrical">Electrical</option>
        <option value="Electronics">Electronics</option>
        <option value="Civil">Civil</option>
        <option value="Computer Science">Computer Science</option>
    </select><br>
    <input type="submit" value="SAVE">

</form>
{% endif %}
<br><br><br>
<a href="{% url 'kec:index' %}">BACK</a>